*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5rem;
}

:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--darker-grayish-cyan: hsl(186, 14%, 43%);
	--dark-grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--lighter-grayish-cyan: hsl(189, 41%, 97%);
	--background: hsl(187, 43%, 84%);
	--hover: #9fe8df;
	--white: hsl(0, 0%, 100%);
	--logo-height: 10rem;
}

html {
	font-size: 16px;
	color: var(--very-dark-cyan);
	font-weight: bold;
	height: 100%;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	height: 100%;
	max-height: 100%;
	margin: 0;
	font-family: 'Qahiri', sans-serif;
	font-family: 'Space Mono', monospace;
	box-sizing: border-box;
}

section {
	margin-bottom: 3em;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--logo-height);
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 2rem 2rem 0 0;
	padding: 3rem 2rem;
	height: fit-content;
	border: 0;
}

input {
	width: 100%;
	height: 2.5rem;
	background-color: var(--lighter-grayish-cyan);
	border: 0;
	padding: 1em;
	font-size: 1.5rem;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	color: var(--very-dark-cyan);
	text-align: left;
	border-radius: 6px;
	text-align: right;
	border: 0.2rem solid var(--lighter-grayish-cyan);
}

input::placeholder {
	color: var(--dark-grayish-cyan);
}

.input-wrapper {
	width: 100%;

	position: relative;
}
.input-img {
	position: absolute;
	top: 50%;
	left: 1.2rem;
	transform: translateY(-50%);
}

input:focus {
	outline: none;
	border: 0.2rem solid var(--strong-cyan);
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tip-container {
	display: grid;
	justify-self: center;
	column-gap: 1rem;
	row-gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.option {
	display: flex;
	background-color: var(--very-dark-cyan);
	color: var(--white);
	border-radius: 8px;
	height: 3.4rem;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
.option:hover {
	cursor: pointer;
	background-color: var(--hover);
	color: var(--very-dark-cyan);
}

.green {
	background-color: var(--very-dark-cyan);
	width: 100%;
	border-radius: 1.2rem;
	padding: 2rem 2rem 1.5rem 2rem;
}

.sum-wrapper {
	width: 100%;
	color: var(--white);
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2rem;
}

.sum-wrapper .subtitle {
	font-size: 0.8rem;
	padding-top: 0.2em;
	color: var(--dark-grayish-cyan);
}

.sum-wrapper .price {
	justify-self: end;
	font-size: 2rem;
	color: var(--strong-cyan);
}

button {
	height: 3rem;
	width: 100%;
	background-color: var(--strong-cyan);
	border-radius: 0.2em;
	outline: none;
	border: none;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	color: var(--very-dark-cyan);
}

button:hover {
	cursor: pointer;
	background-color: var(--hover);
}
